@charset "utf-8";

html {
	background-color: #e0e0e0;
	overflow-y: scroll;
    font-size: 14px;
}

noscript {
    color: #f00;
    font-size: larger;
    font-weight: bold;
    display: block;
    border: 2px solid red;
    margin: 2px;
}

.top {
	width: 800px;
	height: 288px;
	margin: 0 auto;
	margin-bottom: 10px;
	border: 1px solid black;
}

.top img {
    border: none;
}

.content {
	font-family: Verdana, sans-serif;
	width: 780px;
	margin: 0 auto;
	margin-top: 1px;
	background-color: white;
	border: 1px solid black;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

ul.menu {
    margin: 0;
    padding: 0;
}

ul.menu li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.message {
    color: red;
}

.hint {
    color: #c0c0c0;
}

.changeButton {
    font-weight: normal;
    font-size: smaller;
}

table.rangliste {
    border: hidden !important;
}

table.rangliste th, table.rangliste td {
    border: 1px solid black;
}

table.user_overview th, .leftHeading {
    text-align: left;
}

table.punkte_overview, table.punkte_overview th, table.punkte_overview td,
table.user_overview, table.user_overview th, table.user_overview td,
table.ergebnisUebersicht, table.ergebnisUebersicht th, table.ergebnisUebersicht td,
table.tippFristen, table.tippFristen th, table.tippFristen td{
    border: 1px solid black;
}

table.punkte_overview td, table.punkte_overview th,
table.user_overview td, table.user_overview th,
table.ergebnisUebersicht td, table.ergebnisUebersicht th,
table.tippFristen td, table.tippFristen th {
    padding: 3px;
}

table.punkte_overview, table.user_overview, table.ergebnisUebersicht, table.tippFristen, table.rangliste {
    border-collapse: collapse;
}

.abstandHalterBindestrich {
    border-right-style: hidden !important;
    border-left-style: hidden !important;
}

td.changeElement {
    border-left-style: hidden !important;
    text-align: right;
    padding-left: 2px;
    margin-left: 2px;
}

th.topleft {
    border-top-style: hidden !important;
    border-left-style: hidden !important;
}

table.ergebnisUebersicht td img, table.user_overview td img, table.punkte_overview td img {
    display: inline;
}

tr#thisUser {
    background-color: #d0d0d0;
}

a.changeButton {
    font-weight: normal;
    font-size: smaller;
}

footer {
    font-size: 11px;
}

div.permlogin_error {
    border: 3px solid red;
    font-size: smaller;
}

a, a:visited, a:hover, a:active, a:focus {
    color: #00e;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}